
# Blinken Example Config

groups:
  product:
    # You can include a name, if omitted it will be the key
    # used for the group
    name: "Our Product"

    environments:
      production:
        # As with a group, giving an environment a name is options
        name: "Production"
        type: icinga
        url:  https://icinga.production
        options:
          # Configures the rate at which Blinken will poll the alerts
          # software for hosts and alerts
          poll-ms: 10000

          # You can provide query-parameters for use when requesting
          # alerts or hosts, which with icinga can be useful for limiting
          # what you receive. Docs: http://docs.icinga.org/latest/en/cgiparams.html
          # You can provide filter-params to use for filtering sensu alerts after getting them.
          # The value of this is unlike icinga, sensu does not allow us to filter what events
          # want. So we need to filter them after we get them.
          alerts:
            query-params:
              # Host Status Types: All
              host: all
              # Host Properties: Not In Scheduled Downtime
              #                  And Has Not Been Acknowledged
              #                  And In Hard State
              hostprops: 262154
              # Service Status Types: All problems
              servicestatustypes: 28
              # Service Properties: Not In Scheduled Downtime
              #                     And Has Not Been Acknowledged
              #                     And Notifications Enabled
              #                     And In Hard State
              serviceprops: 270346
            filter-params:
              #Only get events which match the regex pattern specified for client
              client: .*integration.*

          # You can provide options to be passed through to the underlying
          # http client (http://http-kit.org/client.html#options)
          http:
            insecure?: true
            basic-auth: ['prod', 'secure']

  ci:
    environments:
      main:
        type: sensu
        url: https://sensu.ci.main
        options:
          poll-ms: 10000
          http:
            insecure?: true

